{% extends 'base.html' %}
{% block content %}
{% include 'disty/navigation.html' %}

<p class="text-2xl pt-8">Downloaded files from links created by {{ user }}:</p>
<table class="table-auto">
  <thead>
    <tr class="bg-gray-400">
      <th class="border px-4 py-2">Date</th>
      <th class="border px-4 py-2">From IP</th>
      <th class="border px-4 py-2">File URL</th>
      <th class="border px-4 py-2">file name</th>
    </tr>
  </thead>
  <tbody>
    {% for access in accesses %}
    <tr>
      <td class="border px-4 py-2">{{ access.timestamp }}</td>
      <td class="border px-4 py-2">{{ access.source_ip }}</td>
      <td class="border px-4 py-2">{{ access.url }}</td>
      <td class="border px-4 py-2">{{access.file }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}