{% extends 'base.html' %}
{% block content %}
{% include 'disty/navigation.html' %}

<p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 pt-8">Downloaded files from links created
  by {{ user }}:</p>
<table class="table-auto">
  <thead>
    <tr class="bg-gray-200">
      <th class="border-t border-b px-4 py-2 tracking-wide text-sm font-bold">Date</th>
      <th class="border-t border-b px-4 py-2 tracking-wide text-sm font-bold">From IP</th>
      <th class="border-t border-b px-4 py-2 tracking-wide text-sm font-bold">File URL</th>
      <th class="border-t border-b px-4 py-2 tracking-wide text-sm font-bold">file name</th>
    </tr>
  </thead>
  <tbody>
    {% for access in accesses %}
    <tr>
      <td class="border-b px-4 py-2 tracking-wide text-sm">{{ access.timestamp }}</td>
      <td class="border-b px-4 py-2 tracking-wide text-sm">{{ access.source_ip }}</td>
      <td class="border-b px-4 py-2 tracking-wide text-sm">{{ access.url }}</td>
      <td class="border-b px-4 py-2 tracking-wide text-sm">{{access.file }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}