{% extends 'base.html' %}
{% block content %}
{% include 'disty/navigation.html' %}
<p class="text-2xl pt-8">Uploaded files for {{ user }}:</p>
<table class="table-auto">
    <thead>
        <tr class="bg-gray-400">
            <th class="border px-4 py-2">Description</th>
            <th class="border px-4 px-2">Name - Owner</th>
            <th class="border px-4 px-2">Info</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in urls %}
        <tr>
            <td class="border px-4 py-2">{{ obj.file.description }}</td>
            <td class="border px-4 py-2"><a class="underline" href="download/{{ obj.url }}">{{ obj.file.name}} -
                    {{ obj.owner }}</a></td>
            <td class="border px-4 py-2">(Created at: {{ obj.created_at }}) - Downloads remaining:
                {{ obj.download_limit }} -- Expiry
                at
                {{ obj.expiry }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="text-2xl pt-8">Links created by {{ user }}:</p>
<table class="table-auto">
    <thead>
        <tr class="bg-gray-400">
            <th class="border px-4 py-2">URL</th>
            <th class="border px-4 py-2">Info</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in upload_urls %}
        <tr>
            <td class="border px-4 py-2"><a class="underline"
                    href="{{ output_link }}{{ obj.url }}">{{ obj.description }}</a></td>
            <td class="border px-4 py-2">(Created at: {{ obj.created_at }} -- Expiry by: {{ obj.expiry }})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}