{% extends 'base.html' %}
{% block content %}
{% include 'disty/navigation.html' %}

<!-- box-shadow: 0 10px 15px -3px rgba(0,0,0,.5), 0 4px 6px -2px rgba(0,0,0,.05); -->

<div class="flex mt-16">

    <div class="flex-1">
        <p class="block uppercase tracking-wide text-gray-700 text-xs text-center font-bold mb-10 pt-10">Files uploaded
            by
            {{ user }}
        </p>
        <div class="max-w-sm rounded overflow-hidden shadow-lg mx-40">
            <div class="px-6 py-4 text-center">
                <p class="font-bold text-xl mb-2">Total Files</p>
                <a href="{% url 'files_by_user' %}"
                    class="text-gray-500 font-bold text-4xl hover:text-red-300">{{ internal|length }}</a>
                <p class="font-bold text-xl mb-2">Downloadable</p>
                <p class="text-gray-500 font-bold text-4xl">
                    {{ available_downloads }}
                </p>
            </div>
        </div>
    </div>

    <div class="flex-1">
        <p class="block uppercase tracking-wide text-gray-700 text-xs text-center font-bold mb-10 pt-10">Links by
            {{ user }}</p>
        <div class="max-w-sm rounded overflow-hidden shadow-lg mx-40">
            <div class="px-6 py-4 text-center">
                <p class="font-bold text-xl mb-2">Total</p>
                <a href="{% url 'links_by_user' %}"
                    class="text-gray-500 font-bold text-4xl hover:text-red-300">{{ upload_urls|length }}</a>
                <p class="font-bold text-xl mb-2">Valid</p>
                <p class="text-gray-500 font-bold text-4xl">
                    {{ available_links }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container max-w-screen-md mx-auto mt-16">
    <p class="block uppercase tracking-wide text-gray-700 text-xs text-center font-bold mb-10 pt-10">Files uploaded for
        {{ user }}</p>
    <div class="max-w-2xl ml-16 rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4 text-center">
            <p class="font-bold text-xl mb-2">Total Files</p>
            <a href="{% url 'files_for_user' %}"
                class="text-gray-500 font-bold text-4xl hover:text-red-300">{{ external|length }} </a>
        </div>
        <table class="table-fixed">
            <thead>
                <tr>
                    <th class="w-1/2 px-4 py-2 tracking-wide text-md font-bold text-gray-700 text-left">
                        Description</th>
                    <th class="w-1/2 px-4 py-2 tracking-wide text-md font-bold text-gray-700 text-right">Uploaded
                        from
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for url in external|slice:"-3:" %}
                <tr>
                    <td class="px-4 py-2 tracking-wide text-sm text-left">{{ url.file.description }}</td>
                    <td class="px-4 py-2 tracking-wide text-sm text-right">{{ url.file.origin }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<p class="pt-4 text-gray-500 text-xs">
    <a href="https://github.com/disty-online/disty">Disty Online ({{ version }})</a>: Open source file uploader.
</p>

{% endblock %}