{% extends 'base.html' %}
{% block content %}
{% include 'disty/navigation.html'%}
{% load widget_tweaks %}

<div class="w-full max-w-lg p-4">
    <form class="w-full max-w-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description">
                    {{ file_form.description.label_tag }}
                </label>
                {% render_field file_form.description class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ file_form.description.name }}" id="id_{{ file_form.description.name }}" placeholder="File Description" %}
            </div>
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="document">
                    {{ file_form.document.label_tag }}
                </label>
                {% render_field file_form.document class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ file_form.document.name }}" id="id_{{ file_form.document.name }}" %}
            </div>
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="">
                    {{ url_form.download_limit.label_tag }}
                </label>
                {% render_field url_form.download_limit class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ urlform.download_limit.name }}" id="id_{{ urlform.download_limit.name }}" %}
            </div>
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="expiry">
                    {{ url_form.expiry.label_tag }}
                </label>
                {% render_field url_form.expiry class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="{{ urlform.expiry.name }}" id="id_{{ urlform.expiry.name }}" %}
            </div>
        </div>
        <div class="flex justify-end">
            <button
                class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}