{% extends 'base.html' %} {% block content %}

<ul class="flex">
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="{% url 'home' %}">HOME</a>
    </li>
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="{% url 'model_form_upload' %}">Upload File</a>
    </li>
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="{% url 'new_url' %}">Create upload link</a>
    </li>
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="{% url 'access' %}">File download history</a>
    </li>
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="password_change/">Change my password</a>
    </li>
    <li class="flex-1 mr-2">
        <a class="text-center block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
            href="logout/">Logout</a>
    </li>
</ul>

{% endblock %}